footer {
    background-color: black;
    color: white;

    .foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;

        .logo {
            width: 20%;
            height: 20%;

            img {
                width: 100%;
            }
        }

        .foot-list {
            ul {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
        }
    }

    .foot-foot {
        display: flex;
        justify-content: space-around;

        .foot-primary {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }

        .foot-second {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;


            width: 50%;

            ul {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                li {
                    width: 10%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: invert(100%) sepia(56%) saturate(2%) hue-rotate(226deg) brightness(117%) contrast(100%);
                }
            }
        }
    }
}