footer {
    background-color: black;
    color: white;

    ul {
        list-style: none;
    }

    .foot {

        display: flex;
        justify-content: space-between;

        .logo {
            width: 20%;
            height: 20%;

            img {
                width: 100%;
            }
        }

        div {

            ul {
                list-style: none;
                display: flex;
                gap: 2rem;
                color: white;
            }
        }
    }

    .foot-foot {
        img {
            width: 1%;
            filter: invert(100%) sepia(56%) saturate(2%) hue-rotate(226deg) brightness(117%) contrast(100%);
        }
    }
}