header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 20%;
  height: 20%;
}
header .logo img {
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

body {
  margin: 0;
  font-family: "Lato";
}

h3 {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.contenent {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.btn {
  border: 1px solid black;
  border-radius: 0.2rem;
  background-color: white;
  box-shadow: 7px 8px 15px 0px #000000;
  text-decoration: none;
  padding: 0.5rem;
  width: 19%;
  color: black;
}

.phone {
  background-color: #FA8072;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.9rem 2rem;
}
.phone .phone-text {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  gap: 5rem;
}
.phone .phone-text h1 {
  font-family: "Lato-Bold";
  font-size: 3rem;
}
.phone .i-phone {
  width: 20%;
  margin-bottom: -10rem;
}
.phone .i-phone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trio-img {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  gap: 0.5rem;
}
.trio-img .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trio-img .first-img {
  width: 50%;
  background-image: url(../img/homme-assis-batiment.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  text-align: center;
}
.trio-img .second-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.trio-img .second-box .second-img {
  height: 50%;
  background-image: url(../img/passport.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  text-align: center;
}
.trio-img .second-box .third-img {
  height: 50%;
  background-image: url(../img/montgolfiere.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  text-align: center;
}

#features {
  background-image: url(../img/wave.svg);
  padding-bottom: 9rem;
  margin-bottom: 5rem;
}
#features h2 {
  text-align: end;
}
#features .features {
  display: flex;
  flex-direction: column;
}
#features .features .box-features {
  display: flex;
  justify-content: space-around;
}
#features .features .box-features .box-feature {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#features .features .box-features .box-feature h3 {
  color: black;
}
#features .features .box-features .box-feature img {
  width: 15%;
  filter: invert(52%) sepia(9%) saturate(3669%) hue-rotate(320deg) brightness(123%) contrast(81%);
}

.lorem {
  width: 80%;
  background-color: #FA8072;
  border-radius: 0.8rem;
  margin-top: -10rem;
  margin-bottom: -6rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.lorem h2 {
  color: white;
}
.lorem p {
  color: white;
}
.lorem .text-lorem {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.lorem .btn-lorem {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
footer {
  background-color: black;
  color: white;
  padding-top: 10rem;
}
footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}
footer .foot .logo {
  width: 20%;
  height: 20%;
}
footer .foot .logo img {
  width: 100%;
}
footer .foot .foot-list ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
footer .foot-foot {
  display: flex;
  justify-content: space-around;
}
footer .foot-foot .foot-primary {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
footer .foot-foot .foot-second {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}
footer .foot-foot .foot-second ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
footer .foot-foot .foot-second ul li {
  width: 10%;
}
footer .foot-foot .foot-second ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(100%) sepia(56%) saturate(2%) hue-rotate(226deg) brightness(117%) contrast(100%);
}

/*# sourceMappingURL=style.css.map */
