@use "../abstracts/variables" as variables;


#phone {
    background-color: variables.$background-color-banner ;
    border-radius: 0.8rem;
    width: 100%;
    padding: 5rem;
    display: flex;

    .phone-text {
        display: flex;
        flex-direction: column;
        color: variables.$color-banner;

        h1 {
            font-family: variables.$font-titre ;
        }
    }

    .i-phone {
        width: 20%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}