@use "../abstracts/variables" as variables;
// @use "../abstracts/mixins" as mixins;

// section phone

.phone {
    background-color: variables.$background-color-banner ;
    border-radius: variables.$border-radus-card;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.9rem 2rem;

    .phone-text {
        display: flex;
        flex-direction: column;
        color: variables.$color-banner;
        width: 50%;
        gap: 5rem;

        h1 {
            font-family: variables.$font-titre;
            font-size: 3rem;
        }
    }

    .i-phone {
        width: 20%;
        margin-bottom: -10rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Section sevices

.trio-img {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    gap: 0.5rem;

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .first-img {
        width: 50%;
        background-image: url(../img/homme-assis-batiment.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 0.8rem;
        text-align: center;
    }

    .second-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .second-img {
            height: 50%;
            background-image: url(../img/passport.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 0.8rem;
            text-align: center;
        }

        .third-img {
            height: 50%;
            background-image: url(../img/montgolfiere.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 0.8rem;
            text-align: center;
        }
    }
}

// Section Features

#features {
    background-image: url(../img/wave.svg);
    padding-bottom: 9rem;
    margin-bottom: 5rem;

    h2 {
        text-align: end;
    }

    .features {
        display: flex;
        flex-direction: column;

        .box-features {
            display: flex;
            justify-content: space-around;

            .box-feature {
                width: 20%;
                text-align: center;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                h3 {
                    color: black;
                }

                img {
                    width: 15%;
                    filter: invert(52%) sepia(9%) saturate(3669%) hue-rotate(320deg) brightness(123%) contrast(81%);
                }
            }
        }
    }
}

// section Lorem

.lorem {
    width: 80%;
    background-color: variables.$background-color-banner;
    border-radius: variables.$border-radus-card;
    margin-top: -10rem;

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    display: flex;
    justify-content: space-evenly;

    .text-lorem {
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .btn-lorem {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}